<div class="card">
    <div class="card-header card-header-primary">
        <div class="row">
            <div class="col-md-6">
              <h4 class="card-title ">Holiday</h4>
            </div>
            <div class="col-md-6">
              <span class="float-right">
                <Button class="btn btn-primary btn-add" data-toggle="modal" data-target="#AddHolidayModal"><i class="fas fa-plus plus-btn"></i>
                  Holiday</Button>
              </span>
            </div>
          </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead class="thead-primary">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">User Name</th>
            <th scope="col">Date</th>
            <th scope="col">Reason</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Otto</td>
            <td>@mdo</td>
            <td></td>
            <td></td>
            <td>
              <div class="row">
                <div>
                  <a href="" data-toggle="modal" data-target="#EditHolidayModal"> <span class="input-group-addon edit" ><i class="fas fa-pen-nib"></i></span></a>
                </div>
                <div>
                  <a href="" data-toggle="modal" data-target="#DeleteHolidayModal"> <span class="input-group-addon trash"> <i class="fas fa-trash-alt"></i></span></a>
                </div>
              </div>
            </td>
          </tr>          
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal fade" id="DeleteHolidayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header model-header-primary card-header-danger">
        <h5 class="modal-title" id="exampleModalCenterTitle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="message-text" class="col-form-label">Really Want to Delete? it can not undone!</label>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button type="button"  class="btn btn-danger  btn-lg" data-toggle="modal" data-dismiss="modal">Yes</button>
        </div>
        <div>
          <button type="button" class="btn btn-success  btn-lg" data-toggle="modal" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-holiday></app-add-holiday>
<app-edit-holiday></app-edit-holiday>