<div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Request History</h4>
    </div>
    <div class="card-body">
      <table class="table">
        <thead class="thead-primary">
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">Leave Type</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">No of Days</th>
            <th scope="col">Reason</th>
            <th scope="col">Status</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
  
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td class="td-status-accept">
              Accepted
            </td>
            
  
          </tr>
          <tr>
  
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>@fat</td>
            <td class="td-status-reject">
              Rejected
            </td>
           
  
          </tr>
          <tr>
  
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td>@twitter</td>
            <td class="td-status-reject">
              Rejected
            </td>
            
  
          </tr>
  
        </tbody>
      </table>
    </div>
  </div>
  