.td-status-accept{
    color: black;
    background-color: #d2ffd2;
}

.td-status-reject{
    color: black;
    background-color:#ffd1d1;
}

.tabs-font-color{
    font-weight: bold;
}
/* .inactive{
    display:none;
}

.active{
    display:initial;
} */

table thead tr th{
    border-top: none !important;
}