<div class="card">
  <div class="card-header card-header-primary card-style">
    <h4 class="card-title">User Details</h4>
  </div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-primary">
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Email</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Role</th>
          <th scope="col">Department</th>
          <th scope="col">Join Date</th>
          <th scope="col">ServicePeriod</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.userName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.roleId.roleName}}</td>
          <td>{{user.departmentId.departmentName}}</td>
          <td>{{user.joinDate | date: 'yyyy-MM-dd'}}</td>
          <td >{{user.servicePeriod}}</td>
          <td>
            <div class="row">
              <div>
                <a href="" data-toggle="modal" data-target="#EditUserModal" (click)="getUserById(user) "> <span class="input-group-addon edit">
                    <i class="fas fa-pen-nib"></i></span></a>
              </div>
              <!-- <div>
                <a href="" data-toggle="modal" data-target="#DeleteUserModal">
                  <span class="input-group-addon trash"> <i class="fas fa-trash-alt"></i></span></a>
              </div> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="DeleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header model-header-primary card-header-danger">
        <h5 class="modal-title" id="exampleModalCenterTitle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="message-text" class="col-form-label">Really Want to Delete? it can not undone!</label>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          <button type="button" class="btn btn-danger  btn-lg" data-toggle="modal" data-dismiss="modal">Yes</button>
        </div>
        <div>
          <button type="button" class="btn btn-success  btn-lg" data-toggle="modal" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>