<div class="row">
  <div class="col-md-6">
    <app-view-department></app-view-department>
  </div>
  <div class="col-md-6">
    <app-view-leave-type></app-view-leave-type>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <app-view-role></app-view-role>
  </div>
  <div class="col-md-6">
    <app-view-status></app-view-status>
  </div>
</div>

<app-edit-department></app-edit-department>
<app-edit-leave-type></app-edit-leave-type>
<app-edit-role></app-edit-role>
<app-edit-status></app-edit-status>
<app-add-department></app-add-department>
<app-add-role></app-add-role>
<app-add-status></app-add-status>
<app-add-leave-type></app-add-leave-type>
