<!-- Modal -->
<div class="modal fade" id="EditLeaveTypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header model-header-primary">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Leave Type</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="model-form">
        <form>
          <div class="container-custom">
            <div class="form-row ">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="inputEmail">Id</label>
                  <input type="text" class="form-control form-control-sm" name="Id" readonly [(ngModel)]="leaveTypObj.id">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="inputEmail">Leave Type</label>
                  <input type="text" class="form-control form-control-sm"name="leaveType"  [(ngModel)]="leaveTypObj.leaveType">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="inputEmail">Allocation</label>
                  <input type="text" class="form-control form-control-sm" name="Allocation" [(ngModel)]="leaveTypObj.allocationDays">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="btn-send" class="btn btn-primary float-right" data-toggle="modal" data-dismiss="modal" (click)="updateLeaveType()">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
