<!-- <div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Pending Request</h4>
  </div>
  <div class="card-body">

    <table class="table">
      <thead>
        <tr>
          <th>Position</th>
          <th>Employee</th>
          <th>Manager</th>
          <th>Trainee</th>
          <th>HR</th>
          <th>Trainer</th>
          <th>Admin</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="td-title">Manage previlages</td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
        </tr>
        <tr>
          <td class="td-title">Manage department</td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
        </tr>
        <tr>
          <td class="td-title">Manage leave type</td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
        </tr>
        <tr>
          <td class="td-title">Manage role</td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
        </tr>
        <tr>
          <td class="td-title">Manage status</td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
        </tr>
        <tr>
          <td class="td-title">Manage user</td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
        </tr>
        <tr>
          <td class="td-title">Process leave request</td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
        </tr>
        <tr>
          <td class="td-title">process carry forward</td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
        </tr>
        <tr>
          <td class="td-title">Apply leave</td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
          <td><input type="checkbox" class="form-radio" id="check-one" unchecked><label for="check-one"></label></td>
        </tr>
      </tbody>
    </table>

    <div class="container-fluid">
      <div class="col-md-12">
        <div class="float-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Save</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header model-header-primary">
        <h5 class="modal-title" id="exampleModalCenterTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Permission granded successfully</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
